<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/albumsdetail.css}"/>
    <link rel="stylesheet" th:href="@{/css/right-home.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link
            rel="stylesheet"
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"
    />
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" th:href="@{/plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css}"/>

    <!-- Default Theme -->
    <link rel="stylesheet" th:href="@{/plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.green.css}"/>
</head>
<body>
<!-- Phần left -->
<div class="sidebar-container">
    <div>
        <a th:href="@{/}">
            <img
                    th:src="@{/image/1000_F_249327091_uhnpmetNHxjBYDmWdSxdRRN0maYOx0ei.jpg}"
                    alt=""
                    class="logo"
            />
        </a>
    </div>
    <div class="sidebar-body">
        <a th:href="@{/}">
            <div class="sidebar-item" style="color: #63cdda">
                <div><i class="bi bi-house"></i></div>
                <div>Home</div>
            </div>
        </a>
        <a th:href="@{/trending}">
            <div class="sidebar-item" style="color: #e66767">
                <div><i class="bi bi-arrow-up-right"></i></div>
                <div>Trending</div>
            </div>
        </a>
        <a th:href="@{/albums}">
            <div class="sidebar-item" style="color: #546de5">
                <div><i class="bi bi-journal-album"></i></div>
                <div>Albums</div>
            </div>
        </a>
        <a th:href="@{/artist}">
            <div class="sidebar-item" style="color: #f5cd79">
                <div><i class="bi bi-person"></i></div>
                <div>Artist</div>
            </div>
        </a>
    </div>
</div>
<!-- Phần left -->

<!-- Phần main -->
<div class="body-container">
    <div class="home-top">
        <div class="h-s">
            <form th:action="@{/music/search}" method="get" th:object="${request}">
                <div class="search">
                    <input type="text" class="input-search" placeholder="Tìm kiếm" th:field="*{search}"/>
                    <button class="btn-search" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <!-- Phần authen -->
        <div class="app-authen">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>Trần Tuấn</span>
                    <img th:src="@{./image/authen.png}" alt="" class="img-auth"/>
                </button>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/logout}">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="detail-title">
            <div>
                <img th:src="@{${'/image/album/' + albums.imageAlbum}}" alt="" class="albums-img" />
            </div>
            <div class="albums-name" th:text="${albums.albumName}"></div>
        </div>
        <div class="detail-list">
            <div class="row">
                <!-- for 1-->
                <div class="col-md-6" th:each="song : ${songs}">
                    <a th:href="@{${'/music/' + song.idSong}}">
                        <div class="main-item">
                            <div class="main-item-title">
                                <div class="search-icon">
                                    <span><i class="bi bi-music-note-beamed"></i></span>
                                </div>
                                <div class="main-item-title-info">
                                    <div>
                                        <img th:src="@{${'/image/song/' + song.image}}" alt="" class="search-img" />
                                    </div>
                                    <div class="search-info">
                                        <div class="search-name" th:text="${song.nameSong}"></div>
                                        <div class="search-artist" th:text="${song.artist}">Huy r</div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-item-time" th:text="${song.countPlay}">3:00</div>
                        </div>
                    </a>
                </div>
                <!-- for 1-->
            </div>
        </div>
    </div>
</div>
<!-- Phần main -->
</body>
</html>
