<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/right-home.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link
            rel="stylesheet"
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"
    />
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" th:href="@{/plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css}"/>

    <!-- Default Theme -->
    <link rel="stylesheet" th:href="@{/plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.green.css}"/>

    <!--  jQuery 1.7+  -->
    <script th:src="@{/plugins/jquery-3.6.1.min.js}"></script>

    <!-- Include js plugin -->
    <script th:src="@{/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.js}"></script>

    <script th:src="@{/js/owl.js}"></script>
</head>
<body>
<!-- Phần left -->
<div class="sidebar-container">
    <div>
        <a th:href="@{/}">
            <img
                    th:src="@{/image/1000_F_249327091_uhnpmetNHxjBYDmWdSxdRRN0maYOx0ei.jpg}"
                    alt=""
                    class="logo"
            />
        </a>
    </div>
    <div class="sidebar-body">
        <a th:href="@{/}">
            <div class="sidebar-item active" style="color: #63cdda">
                <div><i class="bi bi-house"></i></div>
                <div>Home</div>
            </div>
        </a>
        <a th:href="@{/trending}">
            <div class="sidebar-item" style="color: #e66767">
                <div><i class="bi bi-arrow-up-right"></i></div>
                <div>Trending</div>
            </div>
        </a>
        <a th:href="@{/albums}">
            <div class="sidebar-item" style="color: #546de5">
                <div><i class="bi bi-journal-album"></i></div>
                <div>Albums</div>
            </div>
        </a>
        <a th:href="@{/artist}">
            <div class="sidebar-item" style="color: #f5cd79">
                <div><i class="bi bi-person"></i></div>
                <div>Artist</div>
            </div>
        </a>
    </div>
</div>
<!-- Phần left -->

<!-- Phần main -->
<div class="body-container">
    <div class="home-top">
        <div class="h-s">
            <form th:action="@{/music/search}" method="get" th:object="${request}">
                <div class="search">
                    <input type="text" class="input-search" placeholder="Tìm kiếm" th:field="*{search}"/>
                    <button class="btn-search" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <!-- Phần authen -->
        <div class="app-authen">
<!--            <th:block sec:authorize="#{isAuthenticated()}">-->
<!--                <div class="dropdown">-->
<!--                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">-->
<!--                        <span>Trần Tuấn</span>-->
<!--                        <img th:src="@{./image/authen.png}" alt="" class="img-auth"/>-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a th:href="@{/logout}">Đăng xuất</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </th:block>-->
<!--            <th:block sec:authorize="#{isAnonymous()}">-->
<!--                <a th:href="@{/login}">Log in</a>-->
<!--            </th:block>-->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>Trần Tuấn</span>
                    <img th:src="@{./image/authen.png}" alt="" class="img-auth"/>
                </button>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/logout}">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main">
        <div>
            <div id="owl-example" class="owl-carousel">
                <div class="item"><img th:src="@{/image/owl4.jpg}" class="slide-img" alt=""/></div>
                <div class="item"><img th:src="@{/image/owl5.jpg}" class="slide-img" alt=""/></div>
                <div class="item"><img th:src="@{/image/owl6.jpg}" class="slide-img" alt=""/></div>
                <div class="item"><img th:src="@{/image/owl7.jpg}" class="slide-img" alt=""/></div>
                <div class="item"><img th:src="@{/image/owl8.jpg}" class="slide-img" alt=""/></div>
            </div>
        </div>

        <!-- for 1 -->
        <div class="main-block">
            <div class="main-block-title">
                <div>Nổi bật</div>
                <div><a th:href="@{/trending}">xem tất cả</a></div>
            </div>
            <div class="main-block-list-item">
                <div class="row">
                    <!-- for 2-->
                    <div class="col-md-2" th:each="song : ${populars}">
                        <a th:href="@{${'/music/' + song.idSong}}">
                            <div class="main-item">
                                <div>
                                    <img
                                            th:src="@{${'/image/song/' + song.image}}"
                                            alt="avata"
                                    />
                                </div>
                                <div class="main-item-name" th:text="${song.nameSong}"></div>
                            </div>
                        </a>
                    </div>
                    <!-- for 2-->
                </div>
            </div>
        </div>

        <div class="main-block">
            <div class="main-block-title">
                <div>Mới cập nhật</div>
                <div><a href="">xem tất cả</a></div>
            </div>
            <div class="main-block-list-item">
                <div class="row">
                    <!-- for 2-->
                    <div class="col-md-2" th:each="song : ${news}">
                        <a th:href="@{${'/music/' + song.idSong}}">
                            <div class="main-item">
                                <div>
                                    <img
                                            th:src="@{${'/image/song/' + song.image}}"
                                            alt="avata"
                                    />
                                </div>
                                <div class="main-item-name" th:text="${song.nameSong}"></div>
                            </div>
                        </a>
                    </div>
                    <!-- for 2-->
                </div>
            </div>
        </div>

        <div class="main-block">
            <div class="main-block-title">
                <div>Albums</div>
                <div><a th:href="@{/albums}">xem tất cả</a></div>
            </div>
            <div class="main-block-list-item">
                <div class="row">
                    <!-- for 2-->
                    <div class="col-md-2" th:each="album : ${albums}">
                        <a th:href="@{${'/albums/detail/' + album.idAlbums}}">
                            <div class="main-item">
                                <div>
                                    <img
                                            th:src="@{${'/image/album/' + album.imageAlbum}}"
                                            alt="avata"
                                    />
                                </div>
                                <div class="main-item-name" th:text="${album.albumName}"></div>
                            </div>
                        </a>
                    </div>
                    <!-- for 2-->
                </div>
            </div>
        </div>

        <div class="main-block">
            <div class="main-block-title">
                <div>Ca sĩ</div>
                <div><a th:href="@{/artist}">xem tất cả</a></div>
            </div>
            <div class="main-block-list-item">
                <div class="row">
                    <!-- for 2-->
                    <div class="col-md-2" th:each="artist : ${artists}">
                        <a th:href="@{${'/artist/detail/' + artist.idArtist}}">
                            <div class="main-item">
                                <div>
                                    <img
                                            th:src="@{${'/image/artist/' + artist.avatar}}"
                                            alt="avata"
                                    />
                                </div>
                                <div class="main-item-name" th:text="${artist.name}"></div>
                            </div>
                        </a>
                    </div>
                    <!-- for 2-->
                </div>
            </div>
        </div>
        <!-- for 1 -->
    </div>
</div>
<!-- Phần main -->
</body>
</html>
